<div>
	<br>
	<div class="container">
		<div class="panel panel-default">
			<div class="panel-heading">
				产品基本信息
				<a href="editorProduct"  ui-sref="main.product.editor" class="btn btn-default pull-right">修改产品信息</a>
				<div class="clear"></div>
			</div>
			<div class="panel-body">
				<form class="form-horizontal">
					<div class="form-group">
						<label for="inputEmail3" class="col-sm-2 control-label">产品名称：</label>
						<div class="col-sm-10">
							<p class="form-control-static">仙侠</p>
						</div>
					</div>
					<div class="form-group">
						<label for="qm" class="col-sm-2 control-label">签名文件：</label>
						<div class="col-sm-10">
							<p class="form-control-static">abc</p>
						</div>
					</div>
					<div class="form-group">
						<label for="intro" class="col-sm-2 control-label">产品描述：</label>
						<div class="col-sm-10">
							<p class="form-control-static">asdasd</p>
						</div>
					</div>
					<div class="form-group">
						<label for="intro" class="col-sm-2 control-label">Push使用：</label>
						<div class="col-sm-10">
							<p class="form-control-static">使用</p>
						</div>
					</div>
					<div class="form-group">
						<label for="intro" class="col-sm-2 control-label">产品icon：</label>
						<div class="col-sm-4">
							<p class="form-control-static">
								<img src="dist/images/logo.png" height="50" alt="">
							</p>
						</div>
					</div>
					<div class="form-group">
						<label for="intro" class="col-sm-2 control-label">设置横竖屏：</label>
						<div class="col-sm-10">
							<p class="form-control-static">横板</p>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
