
		<div  style="margin:0">
			<div class="location">您当前位置：<a href="../../indexMain.html?t=product">产品信息</a> > 签名列表</div>
			<br>
			<div class="container">
				<div class="panel panel-default">
				  <div class="panel-heading">
				  		签名列表
						<div class="clear"></div>
					</div>
				  <div class="panel-body">
						<div class="form-group">
							<a href="uploadSign.html" ui-sref="sign.upload" class="btn btn-default">上传签名</a>
							<a href="createSign" ui-sref="sign.create" class="btn btn-default">创建签名</a>
						</div>
						<table class="table table-bordered">
							<tr>
								<th>签名名称</th>
								<th>alias</th>
								<th>storepass(密钥库密码)</th>
								<th>keypass</th>
								<th>操作</th>
							</tr>
							<tr>
								<td>仙侠国内</td>
								<td>xianxia_cn</td>
								<td>123456</td>
								<td>abcd</td>
								<td>
									<a href="" class="btn btn-default">下载</a>
									<a href="" class="btn btn-default">删除</a>
								</td>
							</tr>
							<tr>
								<td>仙侠国内</td>
								<td>xianxia_cn</td>
								<td>123456</td>
								<td>abcd</td>
								<td>
									<a href="" class="btn btn-default">下载</a>
									<a href="" class="btn btn-default">删除</a>
								</td>
							</tr>
							<tr>
								<td>仙侠国内</td>
								<td>xianxia_cn</td>
								<td>123456</td>
								<td>abcd</td>
								<td>
									<a href="" class="btn btn-default">下载</a>
									<a href="" class="btn btn-default">删除</a>
								</td>
							</tr>
						</table>
						<nav class="text-center hide">
						  <ul class="pagination">
							<li>
							  <a href="#" aria-label="Previous">
								<span aria-hidden="true">&laquo;</span>
							  </a>
							</li>
							<li><a href="#">1</a></li>
							<li><a href="#">2</a></li>
							<li><a href="#">3</a></li>
							<li><a href="#">4</a></li>
							<li><a href="#">5</a></li>
							<li>
							  <a href="#" aria-label="Next">
								<span aria-hidden="true">&raquo;</span>
							  </a>
							</li>
						  </ul>
						</nav>
				  </div>
				</div>
			</div>


		</div>
