
	<div  style="margin:0">
		<div class="location">您当前位置：<a href="../../indexMain.html?t=product">产品信息</a> > 增加产品</div>
		<br>
		<div class="container">
			<div class="panel panel-default">
				<div class="panel-heading">
					上传签名
					<div class="clear"></div>
				</div>
				<div class="panel-body">
					<form class="form-horizontal">
						<div class="form-group">
							<label for="inputEmail3" class="col-sm-5 control-label">签名名称*：</label>
							<div class="col-sm-5">
								<input type="text" class="form-control" id="name" required placeholder="">
							</div>
						</div>
						<div class="form-group">
							<label for="intro" class="col-sm-5 control-label">签名文件*：</label>
							<div class="col-sm-5">
								<input type="file" class="form-control" required>
							</div>
						</div>
						<div class="form-group">
							<label for="qm" class="col-sm-5 control-label">alias(别名)*：</label>
							<div class="col-sm-5">
								<input type="text" class="form-control" required>
							</div>
						</div>
						<div class="form-group">
							<label for="intro" class="col-sm-5 control-label">storepass（密钥库密码）*：</label>
							<div class="col-sm-5">
								<input type="text" class="form-control" required>
							</div>
						</div>
						<div class="form-group">
							<label for="intro" class="col-sm-5 control-label">alias_password(别名密码)*：</label>
							<div class="col-sm-5">
								<input type="text" class="form-control" required>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-offset-5 col-sm-5">
								<a href="signList.html" class="btn btn-default onback">返回</a>
								<button type="submit" class="btn btn-default">保存签名</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
