
		<div>
			<div class="location">您当前位置：<a href="../../indexMain.html?t=pocket">游戏包维护</a> > 游戏包列表</div>
			<br>
			<div class="container">
				<div class="panel panel-default">
				  <div class="panel-heading">
				  		游戏包列表
						<a href="addPocket.html" ui-sref="main.pocket.add" class="btn btn-default pull-right">添加游戏包</a>
						<div class="clear"></div>
					</div>
				  <div class="panel-body">
						<table class="table table-bordered text-center">
							<tr>
								<th>游戏包名</th>
								<th>版本号</th>
								<th>添加时间</th>
								<th>最后更新时间</th>
								<th>操作</th>
							</tr>
							<tr>
								<td>仙侠国内1.0</td>
								<td>1.0.001</td>
								<td>2014-08-08 14:00:00</td>
								<td>2015-08-10 15:00:00</td>
								<td class="text-center">
									<a href="" class="btn btn-default">更新包</a>
									<a href="" class="btn btn-default">删除包</a>
									<a href="" class="btn btn-default">下载包</a>
								</td>
							</tr>
						</table>
				  </div>
				</div>
			</div>


		</div>
