<div>
	<div class="maintop">
		<div datepicker class="col-xs-3 timeSelect" mstatdate="mstatdate">
		</div>
		<div selectChoose class="selectChoose">
		</div>
		<div class="clear"></div>
		<div class="panel-selectChoose" callbackchannelqf ng-show="iscallback">
			<ul ng-show="ischannel" class="cl">
				<li>渠道：</li>
				<li ng-repeat="channellist in callbackchannelqfdata.channellist">{{channellist}}</li>
			</ul>
			<ul ng-show="isqf"  class="cl">
				<li>区服：</li>
				<li ng-repeat="qflist in callbackchannelqfdata.qflist">{{qflist}}</li>
			</ul>
		</div>
	</div>
	<div class="panel panel-default panel_1">
			<div class="panel-heading">
				<strong>玩家</strong>
				<div class="panel_downloadBtn" ng-click="mdownloaddata('avgGameTime')"></div>
				<div class="clear"></div>
			</div>
			<div class="panel-body" ng-class="{'table':panel_1.model=='table','graph':panel_1.model=='graph'}">
				<ul class="nav nav-tabs fl cl" navtabs>
				  <li role="presentation" class="active"><a href="javascript:void(0);">DAU</a></li>
				  <li role="presentation"><a href="javascript:void(0);">WAU</a></li>
				  <li role="presentation"><a href="javascript:void(0);">MAU</a></li>
				  <li role="presentation"><a href="javascript:void(0);">DAU/MAU</a></li>
				</ul>
				<div class="fl cl info" >
					<div class="infoact">
					AVG | MD：<font><em>{{panel_1.dataList_1.AVG}}</em> | <em>{{panel_1.dataList_1.MD}}</em></font>
					</div>
					<div class="infoact">
					AVG | MD：<font><em>{{panel_1.dataList_2.AVG}}</em> | <em>{{panel_1.dataList_2.MD}}</em></font>
					</div>
					<div class="infoact">
					AVG | MD：<font><em>{{panel_1.dataList_3.AVG}}</em> | <em>{{panel_1.dataList_3.MD}}</em></font>
					</div>
					<div class="infoact">
					AVG | MD：<font><em>{{panel_1.dataList_4.AVG}}</em> | <em>{{panel_1.dataList_4.MD}}</em></font>
					</div>
				</div>
				<div class="clear"></div>
				<div class="panel-showData">
					<div class="dataList dataList3 dataList_1">
						<div class="dataGraph">
							<div class="graph" data="dataList_1_1_graph"></div>
						</div>
						<div class="dataTable">
							<table class="table table-bordered text-center">
								<tr class="tableTr">
									<th width='25%' ng-click="changeOrderBy(panel_1.dataList_1,'statdate')">日期</th>
									<th width='25%' ng-click="changeOrderBy(panel_1.dataList_1,'newUser')">新玩家(账户)</th>
									<th width='25%' ng-click="changeOrderBy(panel_1.dataList_1,'oldUser')">老玩家(账户)</th>
									<th width='25%' ng-click="changeOrderBy(panel_1.dataList_1,'count')">总计(账户)</th>
								</tr>
								<tr ng-repeat="data in panel_1.dataList_1.data | orderBy: panel_1.dataList_1.orderBy.t+panel_1.dataList_1.orderBy.s | pageStartFrom : panel_1.dataList_1.limit.now*panel_1.dataList_1.limit.max | limitTo: panel_1.dataList_1.limit.max">
									<td>{{data.statdate}}</td>
									<td>{{data.newUser}}</td>
									<td>{{data.oldUser}}</td>
									<td>{{data.count}}</td>
								</tr>
							</table>
							<div class="tableLimit" tablelimit datalimit="panel_1.dataList_1.limit"  tabledata="panel_1.dataList_1.data">
							</div>
						</div>
					</div>
					<div class="dataList dataList3 dataList_2">
						<div class="dataGraph">
							<div class="graph"  data="dataList_1_2_graph"></div>
						</div>
						<div class="dataTable">
							<table class="table table-bordered text-center">
								<tr class="tableTr">
									<th width='50%' ng-click="changeOrderBy(panel_1.dataList_2,'statdate')">日期</th>
									<th width='50%' ng-click="changeOrderBy(panel_1.dataList_2,'wauAccount')">WAU(账户)</th>
								</tr>
								<tr ng-repeat="data in panel_1.dataList_2.data | orderBy: panel_1.dataList_2.orderBy.t+panel_1.dataList_2.orderBy.s  | pageStartFrom : panel_1.dataList_2.limit.now*panel_1.dataList_2.limit.max | limitTo: panel_1.dataList_2.limit.max">
									<td>{{data.statdate}}</td>
									<td>{{data.wauAccount}}</td>
								</tr>
							</table>
							<div class="tableLimit" tablelimit datalimit="panel_1.dataList_2.limit"  tabledata="panel_1.dataList_2.data">
							</div>
						</div>
					</div>
					<div class="dataList dataList3 dataList_3">
						<div class="dataGraph">
							<div class="graph"  data="dataList_1_3_graph"></div>
						</div>
						<div class="dataTable">
							<table class="table table-bordered text-center">
								<tr class="tableTr">
									<th width='50%' ng-click="changeOrderBy(panel_1.dataList_3,'statdate')">日期</th>
									<th width='50%' ng-click="changeOrderBy(panel_1.dataList_3,'mauAccount')">MAU(账户)</th>
								</tr>
								<tr ng-repeat="data in panel_1.dataList_3.data | orderBy: panel_1.dataList_3.orderBy.t+panel_1.dataList_3.orderBy.s  | pageStartFrom : panel_1.dataList_3.limit.now*panel_1.dataList_3.limit.max | limitTo: panel_1.dataList_3.limit.max">
									<td>{{data.statdate}}</td>
									<td>{{data.mauAccount}}</td>
								</tr>
							</table>
							<div class="tableLimit" tablelimit datalimit="panel_1.dataList_3.limit"  tabledata="panel_1.dataList_3.data">
							</div>
						</div>
					</div>
					<div class="dataList dataList3 dataList_4">
						<div class="dataGraph">
							<div class="graph"  data="dataList_1_4_graph"></div>
						</div>
						<div class="dataTable">
							<table class="table table-bordered text-center">
								<tr class="tableTr">
									<th width='50%' ng-click="changeOrderBy(panel_1.dataList_4,'statdate')">日期</th>
									<th width='50%' ng-click="changeOrderBy(panel_1.dataList_4,'mauAccount')">DAU/MAU</th>
								</tr>
								<tr ng-repeat="data in panel_1.dataList_4.data | orderBy: panel_1.dataList_4.orderBy.t+panel_1.dataList_4.orderBy.s  | pageStartFrom : panel_1.dataList_4.limit.now*panel_1.dataList_4.limit.max | limitTo: panel_1.dataList_4.limit.max">
									<td>{{data.statdate}}</td>
									<td>{{data.mauAccount}}</td>
								</tr>
							</table>
							<div class="tableLimit" tablelimit datalimit="panel_1.dataList_4.limit"  tabledata="panel_1.dataList_4.data">
							</div>
						</div>
					</div>
				</div>
				<div class="panel-changeData" graphtbale  graphfun="graphfun" datachange="panel_1_change"  datalimit="0" model="panel_1.model">
				</div>
			</div>
	</div>
	<div class="clear">
		<div class="col-xs-6">
			<div class="panel panel-default panel_2">
				<div class="panel-heading">
					<strong>活跃玩家 已玩天数</strong>
					<div class="clear"></div>
				</div>
				<div class="panel-body"  ng-class="{'table':panel_2.model=='table','graph':panel_2.model=='graph'}">
					<div class="panel-showData">
						<div class="dataList dataList3 dataList_1 dataListAct">
							<div class="dataGraph">
								<div class="graph" data="dataList_2_1_graph"></div>
							</div>
							<div class="dataTable">
								<table class="table table-bordered text-center">
									<tr class="tableTr">
										<th width='33.33%' ng-click="changeOrderBy(panel_2.dataList_1,'playingDays')">已玩天数</th>
										<th width='33.33%' ng-click="changeOrderBy(panel_2.dataList_1,'count')">活跃玩家(账户)</th>
										<th width='33.33%' ng-click="changeOrderBy(panel_2.dataList_1,'rate')">百分比(账户)</th>
									</tr>
									<tr ng-repeat="data in panel_2.dataList_1.data | orderBy: panel_2.dataList_1.orderBy.t+panel_2.dataList_1.orderBy.s | pageStartFrom : panel_2.dataList_1.limit.now*panel_2.dataList_1.limit.max | limitTo: panel_2.dataList_1.limit.max">
										<td>{{data.playingDays}}</td>
										<td>{{data.count}}</td>
										<td>{{data.rate}}</td>
									</tr>
								</table>
								<div class="tableLimit" tablelimit datalimit="panel_2.dataList_1.limit"  tabledata="panel_2.dataList_1.data">
								</div>
							</div>
						</div>
					</div>
					<div class="panel-changeData" graphtbale  graphfun="graphfun" datachange="panel_2_change"  datalimit="0" model="panel_2.model">
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-6">
			<div class="panel panel-default panel_3">
				<div class="panel-heading">
					<strong>活跃玩家 等级</strong>
					<div class="clear"></div>
				</div>
				<div class="panel-body"  ng-class="{'table':panel_3.model=='table','graph':panel_3.model=='graph'}">
					<div class="panel-showData">
						<div class="dataList dataList3 dataList_1 dataListAct">
							<div class="dataGraph">
								<div class="graph" data="dataList_3_1_graph"></div>
								<div class="graphLimit" graphLimit datalimit="panel_3.dataList_1.graphLimit" graphdata="panel_3.dataList_1.data"  graphfun="graphfun.dataList_3_1_graph" model="panel_3.model" isfist="false" key="{d:'count',y:'level'}">
								</div>
							</div>
							<div class="dataTable">
								<table class="table table-bordered text-center">
									<tr class="tableTr">
										<th width='33.33%' ng-click="changeOrderBy(panel_3.dataList_1,'level')">等级</th>
										<th level='33.33%' ng-click="changeOrderBy(panel_3.dataList_1,'count')">活跃玩家(账户)</th>
										<th width='33.33%' ng-click="changeOrderBy(panel_3.dataList_1,'rate')">百分比(账户)</th>
									</tr>
									<tr ng-repeat="data in panel_3.dataList_1.data | orderBy: panel_3.dataList_1.orderBy.t+panel_3.dataList_1.orderBy.s | pageStartFrom : panel_3.dataList_1.limit.now*panel_3.dataList_1.limit.max | limitTo: panel_3.dataList_1.limit.max">
										<td>{{data.level}}</td>
										<td>{{data.count}}</td>
										<td>{{data.rate}}</td>
									</tr>
								</table>
								<div class="tableLimit" tablelimit datalimit="panel_3.dataList_1.limit"  tabledata="panel_3.dataList_1.data">
								</div>
							</div>
						</div>
					</div>
					<div class="panel-changeData" graphtbale  graphfun="graphfun" datalimit="panel_3.dataList_1.graphLimit"  model="panel_3.model">
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="clear">
		<div class="col-xs-6">
			<div class="panel panel-default panel_4">
				<div class="panel-heading">
					<strong>活跃玩家地区</strong>
					<div class="clear"></div>
				</div>
				<div class="panel-body"  ng-class="{'table':panel_4.model=='table','graph':panel_4.model=='graph'}">
					<div class="panel-showData">
						<div class="dataList dataList3 dataList_1 dataListAct">
							<div class="dataGraph">
								<div class="graph" data="dataList_4_1_graph"></div>
								<div class="graphLimit" graphLimit datalimit="panel_4.dataList_1.graphLimit" graphdata="panel_4.dataList_1.data"  graphfun="graphfun.dataList_4_1_graph" model="panel_4.model" isfist="false" key="{d:'count',y:'region'}">
								</div>
							</div>
							<div class="dataTable">
								<table class="table table-bordered text-center">
									<tr class="tableTr">
										<th width='33.33%' ng-click="changeOrderBy(panel_4.dataList_1,'region')">省份</th>
										<th level='33.33%' ng-click="changeOrderBy(panel_4.dataList_1,'count')">活跃玩家(账户)</th>
										<th width='33.33%' ng-click="changeOrderBy(panel_4.dataList_1,'rate')">百分比(账户)</th>
									</tr>
									<tr ng-repeat="data in panel_4.dataList_1.data | orderBy: panel_4.dataList_1.orderBy.t+panel_4.dataList_1.orderBy.s | pageStartFrom : panel_4.dataList_1.limit.now*panel_4.dataList_1.limit.max | limitTo: panel_4.dataList_1.limit.max">
										<td>{{data.region}}</td>
										<td>{{data.count}}</td>
										<td>{{data.rate}}</td>
									</tr>
								</table>
								<div class="tableLimit" tablelimit datalimit="panel_4.dataList_1.limit"  tabledata="panel_4.dataList_1.data">
								</div>
							</div>
						</div>
					</div>
					<div class="panel-changeData" graphtbale  graphfun="graphfun" model="panel_4.model"  datalimit="panel_4.dataList_1.graphLimit" >
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-6">
			<div class="panel panel-default panel_5">
				<div class="panel-heading">
					<strong>活跃玩家渠道</strong>
					<div class="clear"></div>
				</div>
				<div class="panel-body"  ng-class="{'table':panel_5.model=='table','graph':panel_5.model=='graph'}">
					<div class="panel-showData">
						<div class="dataList dataList3 dataList_1 dataListAct">
							<div class="dataGraph">
								<div class="graph" data="dataList_5_1_graph"></div>
								<div class="graphLimit" graphLimit datalimit="panel_5.dataList_1.graphLimit" graphdata="panel_5.dataList_1.data"  graphfun="graphfun.dataList_5_1_graph" model="panel_5.model" isfist="false" key="{d:'count',y:'channel'}">
								</div>
							</div>
							<div class="dataTable">
								<table class="table table-bordered text-center">
									<tr class="tableTr">
										<th width='33.33%' ng-click="changeOrderBy(panel_5.dataList_1,'channel')">渠道</th>
										<th level='33.33%' ng-click="changeOrderBy(panel_5.dataList_1,'count')">活跃玩家(账户)</th>
										<th width='33.33%' ng-click="changeOrderBy(panel_5.dataList_1,'rate')">百分比(账户)</th>
									</tr>
									<tr ng-repeat="data in panel_5.dataList_1.data | orderBy: panel_5.dataList_1.orderBy.t+panel_5.dataList_1.orderBy.s | pageStartFrom : panel_5.dataList_1.limit.now*panel_5.dataList_1.limit.max | limitTo: panel_5.dataList_1.limit.max">
										<td>{{data.channel}}</td>
										<td>{{data.count}}</td>
										<td>{{data.rate}}%</td>
									</tr>
								</table>
								<div class="tableLimit" tablelimit datalimit="panel_5.dataList_1.limit"  tabledata="panel_5.dataList_1.data">
								</div>
							</div>
						</div>
					</div>
					<div class="panel-changeData" graphtbale  graphfun="graphfun" model="panel_5.model"  datalimit="panel_5.dataList_1.graphLimit" >
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
