<div class="col-xs-8 col-xs-offset-2">
	<div class="panel panel-default panel_1">
		<div class="panel-heading">
			<strong>
				用户资源
				<!--------提示框----------->
			</strong>
			<!--------下载按钮----------->
			<div class="clear"></div>
		</div>
		<div class="panel-body pdlf pdtb">
			<div class="col-xs-10 col-xs-offset-1 form-horizontal">

				<h5>项目权限</h5>
				<ul class="form-group">
					<li class="col-xs-3" ng-repeat="data in projectlist">
						<input type="checkbox" ng-checked="data.choosed" ng-click="data.choosed=!data.choosed">
						{{data.name}}
					</li>
					<li class="col-xs-3 clear" style="margin-top:5px;" ng-show="true">
						<a href="javascript:;" ng-click="allChoose()">{{selectData.str}}</a>
						&nbsp;&nbsp;&nbsp;&nbsp;
						<a href="javascript:;" ng-click="unChoose()">反选</a>
					</li>
				</ul>

				<h5>游戏权限</h5>
				<ul class="form-group">
					<li class="col-xs-3" ng-repeat="data in gamelist">
						<input type="checkbox" ng-checked="data.choosed" ng-click="data.choosed=!data.choosed">
						{{data.name}}
					</li>
					<li class="col-xs-3 clear" style="margin-top:5px;" ng-show="true">
						<a href="javascript:;" ng-click="allChoose2()">{{selectData2.str}}</a>
						&nbsp;&nbsp;&nbsp;&nbsp;
						<a href="javascript:;" ng-click="unChoose2()">反选</a>
					</li>
				</ul>
				<h5>渠道权限</h5>
				<ul class="form-group">
					<li class="col-xs-3" ng-repeat="data in channellist">
						<input type="checkbox" ng-checked="data.choosed" ng-click="data.choosed=!data.choosed">
						{{data.name}}
					</li>
					<li class="col-xs-3 clear" style="margin-top:5px;" ng-show="true">
						<a href="javascript:;" ng-click="allChoose3()">{{selectData3.str}}</a>
						&nbsp;&nbsp;&nbsp;&nbsp;
						<a href="javascript:;" ng-click="unChoose3()">反选</a>
					</li>
				</ul>
				<div class="form-group">
					<button class="btn btn-default btn-sm" ng-click="postData()">提交</button>
					<button class="btn btn-default btn-sm" ng-click="resetData()">重置</button>
				</div>
			</div>
		</div>
</div>
