<div>
	<div>
		<div class="form-group">
			<label for="">角色名:</label>
			<input type="text" class="form-control" placeholder="角色名" ng-model="searchData.name">&nbsp;&nbsp;
			<button class="btn btn-default">搜索</button>
			<a class="btn btn-default" ui-sref="main.user.roleModif">添加角色</a>
		</div>
	</div>
	<div class="panel panel-default panel_1">
		<div class="panel-heading">
			<strong>
				角色列表
				<!--------提示框----------->
			</strong>
			<div class="panel_downloadBtn" ng-click="mdownloaddata('avgGameTime')"></div>
			<!--------下载按钮----------->
			<div class="clear"></div>
		</div>
		<div class="<panel-bo></panel-bo>dy pdlf pdtb">
			<div class="tableBox">
				<table class="table table-striped">
					<tr>
						<th class="text-center" width="33.33%">角色名</th>
						<th class="text-center" width="33.33%">是否生效</th>
						<th class="text-center" width="33.33%">操作</th>
					</tr>
					<tr ng-repeat="data in panel_1.dataList_1.data  | orderBy: panel_1.dataList_1.orderBy.t+panel_1.dataList_1.orderBy.s | pageStartFrom : panel_1.dataList_1.limit.now*panel_1.dataList_1.limit.max | limitTo: panel_1.dataList_1.limit.max" class="text-center">
						<td>{{data.name}}</td>
						<td>{{data.iswork}}</td>
						<td>
							<a href="javascript:;" ui-sref="main.user.roleModif({'userId':123})">修改</a>
							<a href="javascript:;" ng-click="delUser(data.id)">删除</a>
						</td>
					</tr>
				</table>
				<div class="tableFooter">
					<div class="buttondiv fl" analysisdrop changei="changetype()">
						<div class="selectlable fl">每页显示：</div>
						<div class="analysisdrop fl" style="width:60px;">
							<div class="hadchoose">
								<h6>{{val}}</h6></div>
							<ul class="dropUl">
								<li ng-click="c('10');changetype(10)">10</li>
								<li ng-click="c('20');changetype(20)">20</li>
								<li ng-click="c('50');changetype(50)">50</li>
								<li ng-click="c('100');changetype(100)">100</li>
							</ul>
						</div>
						<div class="selectlable fl">&nbsp;&nbsp;条记录</div>
					</div>
					<div class="dataTables_paginate fr" datatableslimit  datalimit="panel_1.dataList_1.limit"  tabledata="panel_1.dataList_1.data"></div>
				</div>
			</div>
		</div>
	</div>
</div>
