<div>
	<div class="maintop">
		<div class="buttondiv fl" analysisdrop >
			<div class="analysisdrop fl" style="width:100%;">
				<div class="hadchoose"><h6>{{getEventsData($stateParams.eventsId).name}}</h6></div>
				<ul class="dropUl">
					<li ng-repeat="eventsList in eventsList" ui-sref="main.events.detail({'eventsId':eventsList.id})" ng-show="$stateParams.eventsId!=eventsList.id">{{eventsList.name}}</li>
				</ul>
			</div>
		</div>
		<div datepicker class="col-xs-3 timeSelect" mstatdate="mstatdate">
		</div>
		<!--------日期选择控件----------->
		<div selectChoose class="selectChoose">
		</div>
		<!--------渠道区服选择控件----------->
		<div class="clear"></div>
		<div class="panel-selectChoose" callbackchannelqf ng-show="iscallback">
			<ul ng-show="ischannel" class="cl">
				<li>渠道：</li>
				<li ng-repeat="channellist in callbackchannelqfdata.channellist">{{channellist}}</li>
			</ul>
			<ul ng-show="isqf"  class="cl">
				<li>区服：</li>
				<li ng-repeat="qflist in callbackchannelqfdata.qflist">{{qflist}}</li>
			</ul>
		</div>
		<!--------已选择渠道区服显示----------->
	</div>
	<div class="panel panel-default panel_1">
			<div class="panel-heading">
				<strong>
					事件趋势
					<div class="exp-box">
						<em class="icon-exp">三角图标</em>
						<div class="noun-exp" style="width:300px;">
						</div>
					</div>
					<!--------提示框----------->
				</strong>
				<div class="panel_downloadBtn" ng-click="mdownloaddata('avgGameTime')"></div>
				<!--------下载按钮----------->
				<div class="clear"></div>
			</div>
			<div class="panel-body" ng-class="{'table':panel_1.model=='table','graph':panel_1.model=='graph'}">
			<!--------默认panel展示类型，表格tale或图表graph---------->
				<ul class="nav nav-tabs fl cl" navtabs>
				  <li role="presentation" class="active"><a href="javascript:void(0);">事件数</a></li>
				  <li role="presentation"><a href="javascript:void(0);">每活跃用户产生</a></li>
				  <li role="presentation"><a href="javascript:void(0);">每启动发生</a></li>
				</ul>
				<!--------选项卡----------->
				<div class="clear"></div>
				<div class="panel-showData">
					<div class="dataList dataList2 dataList_1">
						<div class="dataGraph">
							<div class="graph" data="dataList_1_1_graph"></div>
							<!--------图表div，data为graphfun的key----------->
						</div>
						<div class="dataTable">
							<table class="table table-bordered text-center">
								<tr class="tableTr">
									<th width='50%' ng-click="changeOrderBy(panel_1.dataList_1,'statdate')">日期</th>
									<th width='50%' ng-click="changeOrderBy(panel_1.dataList_1,'purchase')">事件数(次)</th>
									<!--------表格th(数据对象，排序字段)----------->
								</tr>
								<tr ng-repeat="data in panel_1.dataList_1.data | orderBy: panel_1.dataList_1.orderBy.t+panel_1.dataList_1.orderBy.s | pageStartFrom : panel_1.dataList_1.limit.now*panel_1.dataList_1.limit.max | limitTo: panel_1.dataList_1.limit.max">
									<td>{{data.statdate}}</td>
									<td>{{data.purchase}}</td>
								</tr>
							</table>
							<div class="tableLimit" tablelimit datalimit="panel_1.dataList_1.limit"  tabledata="panel_1.dataList_1.data">
							</div>
							<!--------表格分页，datalimit为分页参数，tabledata为数据----------->
						</div>
					</div>
					<div class="dataList dataList2 dataList_2">
					<div class="dataGraph">
						<div class="graph" data="dataList_1_2_graph"></div>
						<!--------图表div，data为graphfun的key----------->

					</div>
					<div class="dataTable">
						<table class="table table-bordered text-center">
							<tr class="tableTr">
									<th width='50%' ng-click="changeOrderBy(panel_1.dataList_2,'statdate')">日期</th>
									<th width='50%' ng-click="changeOrderBy(panel_1.dataList_2,'accounts')">每活跃用户产生(次)</th>

								<!--------表格th(数据对象，排序字段)----------->
							</tr>
							<tr ng-repeat="data in panel_1.dataList_2.data | orderBy: panel_1.dataList_2.orderBy.t+panel_1.dataList_2.orderBy.s | pageStartFrom : panel_1.dataList_2.limit.now*panel_1.dataList_2.limit.max | limitTo: panel_1.dataList_2.limit.max">
								<td>{{data.statdate}}</td>
								<td>{{data.accounts}}</td>
							</tr>
						</table>
						<div class="tableLimit" tablelimit datalimit="panel_1.dataList_2.limit"  tabledata="panel_1.dataList_2.data">
						</div>
						<!--------表格分页，datalimit为分页参数，tabledata为数据----------->
					</div>
				</div>
					<div class="dataList dataList2 dataList_3">
						<div class="dataGraph">
							<div class="graph" data="dataList_1_3_graph"></div>
							<!--------图表div，data为graphfun的key----------->

						</div>
						<div class="dataTable">
							<table class="table table-bordered text-center">
								<tr class="tableTr">
									<th width='50%' ng-click="changeOrderBy(panel_1.dataList_3,'statdate')">日期</th>
									<th width='50%' ng-click="changeOrderBy(panel_1.dataList_3,'accounts')">每启动发生(次)</th>
									<!--------表格th(数据对象，排序字段)----------->
								</tr>
								<tr ng-repeat="data in panel_1.dataList_3.data | orderBy: panel_1.dataList_3.orderBy.t+panel_1.dataList_3.orderBy.s | pageStartFrom : panel_1.dataList_3.limit.now*panel_1.dataList_3.limit.max | limitTo: panel_1.dataList_3.limit.max">
									<td>{{data.statdate}}</td>
									<td>{{data.accounts}}</td>
								</tr>
							</table>
							<div class="tableLimit" tablelimit datalimit="panel_1.dataList_3.limit"  tabledata="panel_1.dataList_3.data">
							</div>
							<!--------表格分页，datalimit为分页参数，tabledata为数据----------->
						</div>
					</div>
				</div>
				<div class="panel-changeData" graphtbale  graphfun="graphfun" datachange="panel_1_change"  datalimit="0" model="panel_1.model">
				</div>
				<!-------------图表表格切换，graphfun ----datachange(需要分页时删除不填)------------->
			</div>
	</div>

</div>
