
		<div>
			<div class="location">您当前位置：<a href="../../indexMain.html?t=unpack">打包管理</a> > 打包任务列表</div>
			<br>
			<div class="container" style="min-width:1170px;">
				<div class="panel panel-default">
				  <div class="panel-heading">
				  		打包任务列表

						<a href="addUnpack.html" ui-sref="main.unpack.add" class="btn btn-default pull-right">打包任务添加</a>
						<div class="clear"></div>
					</div>
				  <div class="panel-body">
						<table class="table table-bordered text-center">
							<tr>
								<th>任务名</th>
								<th>添加时间</th>
								<th>完成进度</th>
								<th>原包包名</th>
								<th>操作</th>
							</tr>
							<tr>
								<td>任务名</td>
								<td>2014-08-06 10:00:00</td>
								<td>99%</td>
								<td>仙侠国内1.0</td>
								<td class="text-center">
									<a href="" class="btn btn-default">渠道包获取</a>
									<a href="" class="btn btn-default">任务进度更新</a>
									<a href="" class="btn btn-default">任务删除</a>
								</td>
							</tr>
						</table>
				  </div>
				</div>
			</div>


		</div>
